<div class="item-tile">
    <a href="/items/<%= item.id %>" >
      <img src="<%= item.image ? '/images/' + item.image : '/images/image_not_found.png' %>" alt="<%= item.name %>" />
      <h4 class="item-title"><%= item.name %></h4>
      <p class="price"><%= item.price %> $</p>
    </a>
</div>